.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
}

.box {
    width: 70vw;
    height: 90vh;
    min-width: 300px;
}

.name {
    margin-top: 4vh;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.day {
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    width: 7vw;
    min-width: 110px;
    color: #A4A8B2;
    border-color: #A4A8B2;
}

.content {
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    word-break: keep-all;
}

.back {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 90px;
}

.back span {
    color: #A4A8B2;
}

.back img {
    width: 20px;
}

@media (max-width: 800px) {
    .name {
        margin-top: 0;
    }
}

@media (max-width: 700px) {
    .name {
        font-size: 28px
    }
    .day {
        font-size: 18px;
    }
    .content {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .name {
        font-size: 25px
    }
    .day {
        font-size: 18px;
    }
    .content {
        font-size: 16px;
    }
}