.navs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 90px;
    min-width: 300px;
}

.nav {
    width: 70vw;
    height: 80px;
    display: flex;
    align-items: center;
    gap: 25px;
    min-width: 300px;
}

.nav img {
    margin-right: 18px;
}

.nav a {
    color: #A4A8B2;
    font-size: 20px;
}

.nav a.router-link-exact-active {
    color: #212226;
}

@media (max-width: 500px){
    .navs {
        height: 70px;
    }
}

@media (max-width: 320px) {
    .navs {
        min-width: 250px;
        height: 65px;
    }
    .nav {
        min-width: 250px;
    }
}